In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest
import statsmodels.api as sm
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.feature_selection import chi2
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
dataset = pd.read_csv(r'/home/akhtar/Desktop/Ml Algorithms/Dataset/crops.csv')
dataset_10 = dataset.drop(['Max_Temp', 'X_COR', 'Y_COR', 'LATITUDE','LONGITUDE', 'Min_Temp', 'Cloud_Coverage'], axis = 1)

dataset_10.head()

,Districts_N,Area,Category_N,Crop_N,Year,Rainfall,Humidity,Wind_Speed,Bright_Sunshine,ALT,Productions
0,2,163915,1,1,1979,26.000000,78.666667,0.333333,8.700000,4,67525.0
1,2,169130,1,1,1980,8.000000,77.333333,0.433333,8.500000,4,76485.0
2,2,178380,1,1,1981,11.000000,75.333333,0.366667,8.166667,4,75495.0
3,2,176380,1,1,1982,17.666667,77.000000,0.300000,7.933333,4,76655.0
4,2,169560,1,1,1983,27.666667,83.333333,0.300000,8.133333,4,76310.0

In [3]:
X = dataset_10.iloc[:, :-1]
y = dataset_10.iloc[:, -1]

In [4]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y.values.reshape(-1,1))

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
from sklearn.neighbors import KNeighborsRegressor

regressor = KNeighborsRegressor(n_neighbors=5)

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print("Accurecy: ", r2_score(y_test, y_pred))

Accurecy:  0.9129209055828007

# Cross Validation

In [7]:
from sklearn.model_selection import cross_val_score, cross_val_predict

#print("Cross Validation Score: ", cross_val_score(regressor,X,y, cv=28))

print()
predictions = cross_val_predict(regressor,X,y, cv=10)
accuracy = r2_score(y, predictions)
print ("Cross Predicted Accuracy:", accuracy)

Cross Predicted Accuracy: 0.5093919688345998