In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest
import statsmodels.api as sm
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.feature_selection import chi2

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
dataset = pd.read_csv(r'/home/akhtar/Desktop/Ml Algorithms/Dataset/crops.csv')
dataset_12 = dataset.drop(['Max_Temp', 'X_COR', 'Y_COR', 'LATITUDE','LONGITUDE'], axis = 1)
dataset_12.head()

,Districts_N,Area,Category_N,Crop_N,Year,Rainfall,Min_Temp,Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,ALT,Productions
0,2,163915,1,1,1979,26.000,15.933,78.667,0.333,1.100,8.700,4,67525.0
1,2,169130,1,1,1980,8.000,14.833,77.333,0.433,1.333,8.500,4,76485.0
2,2,178380,1,1,1981,11.000,14.333,75.333,0.367,1.233,8.167,4,75495.0
3,2,176380,1,1,1982,17.667,13.667,77.000,0.300,1.067,7.933,4,76655.0
4,2,169560,1,1,1983,27.667,14.500,83.333,0.300,1.700,8.133,4,76310.0

In [3]:
X = dataset_12.iloc[:, :-1]
y = dataset_12.iloc[:, -1]

In [4]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y.values.reshape(-1,1))

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.4)
ridge.fit(X_train, y_train)

#linear.coef_
y_pred = ridge.predict(X_test)

#np.mean((y_test - y_pred)**2)
print("Accurecy: ", r2_score(y_test, y_pred))

Accurecy:  0.5975591669814992