In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest
import statsmodels.api as sm
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.feature_selection import chi2
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
dataset = pd.read_csv(r'/home/akhtar/Desktop/Ml Algorithms/Dataset/crops.csv')
dataset.head()

,Districts_N,Area,Category_N,Crop_N,Year,Max_Temp,Min_Temp,Rainfall,Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,X_COR,Y_COR,LATITUDE,LONGITUDE,ALT,Productions
0,2,163915,1,1,1979,30.400000,15.933333,26.000000,78.666667,0.333333,1.100000,8.700000,536809.8,510151.9,22.7,90.36,4,67525.0
1,2,169130,1,1,1980,29.500000,14.833333,8.000000,77.333333,0.433333,1.333333,8.500000,536809.8,510151.9,22.7,90.36,4,76485.0
2,2,178380,1,1,1981,30.433333,14.333333,11.000000,75.333333,0.366667,1.233333,8.166667,536809.8,510151.9,22.7,90.36,4,75495.0
3,2,176380,1,1,1982,29.700000,13.666667,17.666667,77.000000,0.300000,1.066667,7.933333,536809.8,510151.9,22.7,90.36,4,76655.0
4,2,169560,1,1,1983,29.933333,14.500000,27.666667,83.333333,0.300000,1.700000,8.133333,536809.8,510151.9,22.7,90.36,4,76310.0

In [3]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [4]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y.values.reshape(-1,1))

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
from sklearn.neural_network import MLPRegressor


regressor = MLPRegressor(hidden_layer_sizes = (100, 75, 50, 25), activation = 'relu', solver = 'sgd', learning_rate = 'adaptive')

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print("Accurecy: ", r2_score(y_test, y_pred))

/home/akhtar/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:1321: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accurecy:  0.9599598630074732

/home/akhtar/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)