In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
dataset = pd.read_csv(r'/home/akhtar/Desktop/Ml Algorithms/Dataset/crops.csv')
dataset = dataset.drop(['Max_Temp', 'X_COR', 'Y_COR', 'LATITUDE','LONGITUDE', 'Min_Temp', 'Cloud_Coverage'], axis = 1)
dataset.head()

,Districts_N,Area,Category_N,Crop_N,Year,Rainfall,Max_Temp,Min_Temp,Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,X_COR,Y_COR,LATITUDE,LONGITUDE,ALT,Productions
0,2,163915,1,1,1979,26.000,30.400,15.933,78.667,0.333,1.100,8.700,536809.8,510151.9,22.7,90.36,4,67525.0
1,2,169130,1,1,1980,8.000,29.500,14.833,77.333,0.433,1.333,8.500,536809.8,510151.9,22.7,90.36,4,76485.0
2,2,178380,1,1,1981,11.000,30.433,14.333,75.333,0.367,1.233,8.167,536809.8,510151.9,22.7,90.36,4,75495.0
3,2,176380,1,1,1982,17.667,29.700,13.667,77.000,0.300,1.067,7.933,536809.8,510151.9,22.7,90.36,4,76655.0
4,2,169560,1,1,1983,27.667,29.933,14.500,83.333,0.300,1.700,8.133,536809.8,510151.9,22.7,90.36,4,76310.0

In [4]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

In [7]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=5)
regressor.fit(X_train, y_train)
y_pred = regressor.predict([[2,178380,1,1,1981]])
#y_pred = sc_y.inverse_transform(y_pred)
y_pred

array([13.7334])